@using Microsoft.AspNetCore.Identity
@using CMS.Models;
@inject UserManager<ApplicationUser> userManager;
@inject SignInManager<ApplicationUser> SignInManager;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CMS</title>

    <!-- Favicon -->
    <link href="~/TemplateFront/img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Nunito:wght@600;700;800&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="~/TemplateFront/lib/animate/animate.min.css" rel="stylesheet">
    <link href="~/TemplateFront/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="~/TemplateFront/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="~/TemplateFront/css/style.css" rel="stylesheet">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />

    <style>
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            display: none;
        }
    </style>
</head>
<body>
    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->
    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
        <a href="index.html" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
            <h2 class="m-0 text-primary"><i class="fa fa-book me-3"></i>CMS</h2>
        </a>
        <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto p-4 p-lg-0">
                <a asp-controller="Home" asp-action="Index" class="nav-item nav-link active">Home</a>

                <div class="nav-item dropdown">
                    <a style="cursor:pointer" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">College</a>
                    <div class="dropdown-menu fade-down m-0">
                        <a asp-controller="Courses" asp-action="Index" class="dropdown-item">Courses</a>
                        <a asp-controller="Facility" asp-action="Index" class="dropdown-item">Facilities</a>
                        <a asp-controller="Teachers" asp-action="Index" class="dropdown-item">Teachers</a>
                        <a asp-controller="Departement" asp-action="Index" class="dropdown-item">Departement</a>
                        <a asp-controller="Home" asp-action="Index" class="dropdown-item">Teachers Departement Wise</a>
                    </div>
                </div>

                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Admission</a>
                    <div class="dropdown-menu fade-down m-0">
                        <a asp-controller="Admission" asp-action="Create" class="dropdown-item">Admission Form</a>
                        <a asp-controller="ProceedAdmission" asp-action="Index" class="dropdown-item">Check Admission</a>
                        @*<a href="404.html" class="dropdown-item">404 Page</a>*@
                    </div>
                </div>

                <a asp-controller="AboutUs" asp-action="Index" class="nav-item nav-link">About Us</a>
                <a asp-controller="ContactUs" asp-action="Index" class="nav-item nav-link">Contact Us</a>
                <a asp-controller="Home" asp-action="pageNotFound" class="nav-item nav-link">404</a>
            </div>
            @if (SignInManager.IsSignedIn(User)) //(false)
            {
                var user = await userManager.GetUserAsync(User);
                var profilePicture = "";
                if (user.ProfileImage != null && user.ProfileImage != "")
                {
                    profilePicture = user.ProfileImage;
                }
                else
                {
                    profilePicture = "/Template/img/placeholder.png";
                }
                <img src="~/@(profilePicture)" style="width:30px;height:30px" class="rounded-circle" />
                <div class="nav-item dropdown">
                    <a href="~/Template/img/placeholder.png" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Account</a>
                    <div class="dropdown-menu fade-down m-0">
                        <a href="#" class="dropdown-item">@user.Name</a>
                        <a asp-controller="ProceedAdmission" asp-action="Index" class="dropdown-item">Profile</a>
                        <a asp-area="Admin" asp-controller="Dashboard" asp-action="Index" class="dropdown-item">Dashboard</a>
                    </div>
                </div>
                <a asp-area="Security" asp-controller="Account" asp-action="Logout" class="py-4 px-lg-3 d-none d-lg-block text-danger">Logout<i class="fa fa-arrow-right ms-3"></i></a>
            }
            else
            {
                <a asp-area="Security" asp-controller="Account" asp-action="SignIn" class="py-4 px-lg-3 d-none d-lg-block">SignIn<i class="fa fa-arrow-right ms-3"></i></a>
                <a asp-area="Security" asp-controller="Account" asp-action="SignUp" class="py-4 px-lg-3 d-none d-lg-block">SignUp<i class="fa fa-arrow-right ms-3"></i></a>
            }

        </div>
    </nav>
    <!-- Navbar End -->


    @RenderBody()


    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-light footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-white mb-3">Quick Link</h4>
                    <a class="btn btn-link" href="">About Us</a>
                    <a class="btn btn-link" href="">Contact Us</a>
                    <a class="btn btn-link" href="">Privacy Policy</a>
                    <a class="btn btn-link" href="">Terms & Condition</a>
                    <a class="btn btn-link" href="">FAQs & Help</a>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-white mb-3">Contact</h4>
                    <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>123 Street, New York, USA</p>
                    <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+012 345 67890</p>
                    <p class="mb-2"><i class="fa fa-envelope me-3"></i>info@example.com</p>
                    <div class="d-flex pt-2">
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-youtube"></i></a>
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-white mb-3">Gallery</h4>
                    <div class="row g-2 pt-2">
                        <div class="col-4">
                            <img class="img-fluid bg-light p-1" src="~/TemplateFront/img/course-1.jpg" alt="">
                        </div>
                        <div class="col-4">
                            <img class="img-fluid bg-light p-1" src="~/TemplateFront/img/course-2.jpg" alt="">
                        </div>
                        <div class="col-4">
                            <img class="img-fluid bg-light p-1" src="~/TemplateFront/img/course-3.jpg" alt="">
                        </div>
                        <div class="col-4">
                            <img class="img-fluid bg-light p-1" src="~/TemplateFront/img/course-2.jpg" alt="">
                        </div>
                        <div class="col-4">
                            <img class="img-fluid bg-light p-1" src="~/TemplateFront/img/course-3.jpg" alt="">
                        </div>
                        <div class="col-4">
                            <img class="img-fluid bg-light p-1" src="~/TemplateFront/img/course-1.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-white mb-3">Newsletter</h4>
                    <p>Dolor amet sit justo amet elitr clita ipsum elitr est.</p>
                    <div class="position-relative mx-auto" style="max-width: 400px;">
                        <input class="form-control border-0 w-100 py-3 ps-4 pe-5" type="text" placeholder="Your email">
                        <button type="button" class="btn btn-primary py-2 position-absolute top-0 end-0 mt-2 me-2">SignUp</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="copyright">
                <div class="row">
                    <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                        &copy; <a class="border-bottom" href="#">Your Site Name</a>, All Right Reserved.

                        <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                        Designed By <a class="border-bottom" href="https://htmlcodex.com">HTML Codex</a><br><br>
                        Distributed By <a class="border-bottom" href="https://themewagon.com">ThemeWagon</a>
                    </div>
                    <div class="col-md-6 text-center text-md-end">
                        <div class="footer-menu">
                            <a href="">Home</a>
                            <a href="">Cookies</a>
                            <a href="">Help</a>
                            <a href="">FQAs</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->
    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/TemplateFront/lib/wow/wow.min.js"></script>
    <script src="~/TemplateFront/lib/easing/easing.min.js"></script>
    <script src="~/TemplateFront/lib/waypoints/waypoints.min.js"></script>
    <script src="~/TemplateFront/lib/owlcarousel/owl.carousel.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js" integrity="sha512-AA1Bzp5Q0K1KanKKmvN/4d3IRKVlv9PYgwFPvm32nPO6QS8yH1HO7LbgB1pgiOxPtfeg5zEn2ba64MUcqJx6CA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- Template Javascript -->
    <script src="~/TemplateFront/js/main.js"></script>

    @* ________________Sweet Alert  1.1.2_______________ *@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css">

    @RenderSection("Scripts", required: false)
</body>
</html>
