@model TblFaculties

<div class="row g-4" style="height:100px">
    <div class="col-sm-12">
        <div class="bg-secondary rounded h-100 p-4">
            <div class="d-flex justify-content-start align-content-center mt-2 mb-2">
                <h4>Update Students</h4>
            </div>
        </div>
    </div>
</div>

<br />
<br />


@*_______________ Form ______________*@
<form asp-action="Edit" enctype="multipart/form-data">

    <div class="row g-4">
        @*_______________ Student Detail ______________*@
        <div class="col-sm-12 col-xl-6">
            <div class="bg-secondary rounded h-100 p-4">

                @*_____________________ Hidden Status Hidden _____________*@
                @*<input asp-for="FId" hidden />
                <input asp-for="FacImage" hidden />*@

                @*_____________________ Student Detail ____________________*@
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-floating mb-3">
                    <input asp-for="Name" type="text" class="form-control" id="floatingCourse"
                           placeholder="Enter StudentName">
                    <label for="floatingCourse">Student Name</label>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>


                <div class="form-floating mb-3">
                    <input asp-for="DateofBirth" type="date" class="form-control" id="floatingCourse"
                           placeholder="Enter FatherName">
                    <label for="floatingCourse">Date Of Birth</label>
                    <span asp-validation-for="DateofBirth" class="text-danger"></span>
                </div>


                <div class="form-floating mb-3" style="width:100%">
                    <select asp-for="DepId" asp-items="@ViewBag.dep" class="form-select" id="floatingSelect" aria-label="Floating label select example">
                        <option selected>--- select ---</option>
                    </select>
                    <label for="floatingSelect">Status</label>
                </div>

                <div class="mb-3">
                    <label class="form-label">BrowesImage</label>
                    <input asp-for="BrowsImage" class="form-control bg-dark" type="file" id="formFile">
                    <span asp-validation-for="DateofBirth" class="text-danger"></span>
                </div>

                <div class="text-center">
                    <input type="submit" value="Update" class="btn btn-primary" />
                </div>


            </div>
        </div>

        @*_______________ Images ______________*@
        <div class="col-sm-12 col-xl-6">
            <div class="bg-secondary rounded h-100 p-4">
                <div class="form-group">
                    
                    <div class="container mt-5 d-flex justify-content-center align-items-center align-content-center">
                        @*@if (Model.FacImage != null)
                        {
                            <img src="~/@Model.FacImage" class="img-fluid" id="Preview" style="width:50%;height:80%" />
                        }
                        else
                        {
                            <img src="~/Template/img/no-image-icon-23492.png" class="img-fluid" id="facilityPreview" style="width:50%;height:80%" />
                        }*@
                        <img src="~/Template/img/no-image-icon-23492.png" class="img-fluid" id="previoewImage" style="width:50%;height:80%" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br />


</form>




    <script>

        var imgInp = document.getElementById("formFile");
        var preview = document.getElementById("previoewImage");

        imgInp.onchange = evt => {
            const [file] = imgInp.files;
            if (file) {

                preview.src = URL.createObjectURL(file)
            }
        }
    </script>
