@model TblOptionalsubjects

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div class="row g-4" style="height:100px">
    <div class="col-sm-12">
        <div class="bg-secondary rounded h-100 p-4">
            <div class="d-flex justify-content-start align-content-center mt-2 mb-2">
                <h4>Create Specialize Category</h4>
            </div>
        </div>
    </div>
</div>

<br />
<br />

@*_______________ Form ______________*@
<div class="row g-4">

    <div class="col-sm-12 col-xl-6">
        <div class="bg-secondary rounded h-100 p-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-floating mb-3">
                    <input asp-for="OptinalSubject" type="text" class="form-control" id="floatingCourse"
                           placeholder="Enter Departmenet">
                    <label for="floatingCourse">Optional Subject</label>
                    <span asp-validation-for="OptinalSubject" class="text-danger"></span>
                </div>

                @*______________ Year _____________*@
                <div class="row">
                    <div class="d-flex justify-content-between">

                        <div class="form-floating mb-3" style="width:90%">
                            <select asp-for="YId" asp-items="@ViewBag.Year" class="form-select" id="floatingSelect" aria-label="Floating label select example">
                                <option selected disabled>--- select ---</option>
                            </select>
                            <label for="floatingSelect">Select Year</label>
                        </div>

                        <div class="mt-2">
                            <a class="btn btn-primary" asp-action="Create" asp-controller="Years" asp-route-key="facility"><i class="fa fa-plus"></i></a>
                        </div>
                    </div>
                </div>


                <div class="form-group text-center">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    @*_______________ Images ______________*@
    <div class="col-sm-12 col-xl-6">
        <div class="bg-secondary rounded h-100 p-4">
            <div class="form-group">
                @*<label>Main Image of Facility</label>*@
                <div class="container mt-3">
                    @*<img class="img-fluid" id="facilityPreview" />*@
                </div>
            </div>
        </div>
    </div>

</div>


<br />

<div class="row g-4" style="height:100px">
    <div class="col-sm-12">
        <div class="bg-secondary rounded h-100 p-4">

            <div>
                <a asp-action="Index">Back to List</a>
            </div>

        </div>
    </div>
</div>



<script>
    var imgInp = document.getElementById("formFile");
    var preview = document.getElementById("facilityPreview");

    imgInp.onchange = evt => {
        const [file] = imgInp.files;
        if (file) {

            preview.src = URL.createObjectURL(file)
        }
    }
</script>
